@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --code: #ffffff;
  --pre: #0e1e2a;
  --tokenFunction: #e1722d;
  --tokenKeyword: #00b3fa;
  --tokenOperator: #ee7276;
  --tokenPunctuation: #aac1d5;
  --tokenString: #93e585;
  --comment: #9aa1ac;
}

html,
body {
  height: 100%;
  background-color: #0e1e2a;
}

@layer base {
  ::selection {
    @apply bg-gray-800;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-none;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
  }

  .editor h1 {
    @apply max-w-2xl pb-4 mx-auto mt-8 mb-4 font-black text-center md:pb-8 lg:text-6xl md:mb-8 lg:mb-8 lg:leading-tight;
  }

  .editor h2 {
    @apply mt-16 text-3xl font-bold lg:text-4xl;
  }

  .editor p {
    @apply my-8 text-lg leading-loose md:text-xl;
  }

  .editor ul,
  .editor ol {
    @apply my-8 space-y-4 text-lg md:text-xl md:leading-loose;
  }

  .editor ul.code-fence_select {
    @apply my-0;
  }

  .editor ul {
    @apply list-disc list-inside;
  }

  .editor ol {
    @apply list-decimal list-inside;
  }

  .editor li > p {
    @apply inline-block m-0;
  }

  .editor a {
    @apply relative before:absolute before:block before:w-full before:h-[2px] before:bottom-0 before:left-0 before:bg-yellow-400 before:scale-x-0 before:transition-transform hover:before:scale-x-100 text-gray-50 before:origin-left;
  }

  .editor blockquote {
    @apply px-8 py-2 my-8 bg-gray-800 border-l-4 border-gray-50;
  }

  .editor .code-fence {
    @apply p-0 my-8 text-base;
  }

  .editor .code-fence pre {
    @apply p-0 text-base;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--comment);
  }

  .token.punctuation {
    color: var(--tokenPunctuation);
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-red-400;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--tokenString);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: var(--tokenOperator);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: var(--tokenKeyword);
  }

  .token.function,
  .token.class-name {
    color: var(--tokenFunction);
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: white;
  }
}
