@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/*
  Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid hsla(0 100% 50% / 40%);
}

/*
  Variables
*/

:root {
  /* 🐺 night howl */
  --blue-1: #9bc1d4;
  --blue-2: #1c3c54;
  --blue-3: #112636;
  --blue-4: #0e1e2a;
  --blue-5: #0b1822;
  --white-1: #ffffff;
  --white-2: #e0f1ff;

  /* 💄 syntax highlight */
  --azure: #00b3fa;
  --gray-1: #aac1d5;
  --gray-2: #9aa1ac;
  --green: #93e585;
  --red-1: #f87171;
  --red-2: #ee7276;
  --red-3: #e1722d;
}

/*
  General
*/

::selection {
  background-color: var(--blue-2);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-4);
}

html,
body {
  height: 100%;
  background-color: rgba(var(--background), 1);
}

/*
  Editor
*/

.ProseMirror {
  /* fixes Firefox ignoring spaces */
  white-space: pre-wrap;
}

.milkdown {
  max-width: 80ch;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-family: var(--typography);
  color: var(--blue-1);
}

.editor {
  outline: none;
  display: flex;
  flex-direction: column;
  /* todo: remove this for paragraph */
  gap: 3rem;
}

.editor h1 {
  font-size: 4rem;
  margin: 6rem 0;
  font-weight: 900;
  text-align: center;
}

.editor h2 {
  font-size: 2rem;
}

.editor p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.editor ul,
.editor ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
}

.editor li > p {
  display: inline-block;
}

.editor a {
  color: var(--white-1);
  text-decoration: underline;
}

.editor .blockquote {
  background-color: var(--blue-3);
  border-left: 2px solid var(--blue-1);
  padding: 2rem;
}

.editor .code-inline {
  padding: 0.4rem;
  border-radius: 4px;
  background-color: var(--blue-5);
}

.editor .code-fence {
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--blue-3);
  box-shadow: 6px 6px 0px var(--blue-5);
}

.editor .code-fence .code-fence_value {
  border-radius: 10px;
}

.editor .code-fence pre {
  padding: 0;
  color: var(--white-1);
}

.editor .code-fence code {
  font-family: var(--code);
}

/* slash commands */
.editor .css-qxzvxm::before {
  font-size: 1.2rem;
}

.css-10lnhm.tooltip-input {
  width: auto;
}

/*
  Toolbox
*/

.toolbox {
  position: fixed;
  top: 6%;
  right: 4%;
  display: flex;
  gap: 0.4rem;
}

.toolbox button {
  padding: 1rem;
  font-size: inherit;
  background-color: var(--blue-2);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 2px 4px 0px var(--blue-5);
}

.toolbox button:active {
  transform: scale(0.9);
  box-shadow: none;
}

/*
  Syntax highlight
*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray-2);
}

.token.punctuation {
  color: var(--gray-1);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--red-1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--green);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--red-2);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--azure);
}

.token.function,
.token.class-name {
  color: var(--red-3);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--white-1);
}
