* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgb(46, 52, 64);
  overflow-x: hidden;
}

#editor .milkdown {
  --neutral: 236, 239, 244;
  --solid: 216, 222, 233;
  --line: 67, 76, 94;
  --background: 37, 41, 50;
  --surface: 46, 52, 64;
  --typography: 'Inter', sans-serif;
  --code: 'Mononoki Nerd Font', monospace;

  padding: 0 0;
  margin: 0 auto;
  max-width: 80ch;
  box-shadow: none;
}
